{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid" >
        <div class="wrapper" style="padding: 5% 15%;" >

            <div class="jumbotron text-xs-center"style="background-color: #FFC107; width:100%; height: 100%; ">
                <h3 class="display-3 text-center">¡Gracias por tu confianza!</h3>
                <br>
                <p class="text-center"><strong>Revisa tu email</strong>, en breve recibirás una copia de tu reserva.</p>
                <hr>

                <p class="text-center">
                    <a class="btn btn-primary btn-sm" href="https://www.acanteror.github.io/" target="_blank" role="button">Accede a nuestra web</a>
                </p>
                <br>
                <p class="text-center">
                    <a class="btn btn-success btn-sm" href="http://localhost:8000/index" role="button">Volver al home</a>
                </p>
            </div>

        </div>
    </div>


{% endblock %}